# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Logs and temp files
*.log
*.tmp
*.bak

# Tests & coverage
pytest_cache/
.cache/
htmlcov/
coverage/

# macOS system files
.DS_Store
._*
__MACOSX/

# Editors
.vscode/
.idea/

# Environment variables
.env
.env.*

# index file

data/index
data/documents.jsonl

# test data
test/test_data/test_index